---
import Card2 from "@components/Card2.astro";
import MainLayout from "@layouts/MainLayout.astro";
import PaketIndexLayout from "@layouts/PaketIndexLayout.astro";
import { getCollection } from "astro:content";

const internasionalPackages = await getCollection("paket");

const internasional = internasionalPackages.filter(
  (entry) => entry.data.category === "internasional"
);

const cardData = (entry: any) => ({
  image: entry.data.images[0].url,
  title: entry.data.title,
  slug: entry.id,
  jenistrip: entry.data.jenistrip,
  durasi: entry.data.itineraries.length,
  price: entry.data.price,
  category: entry.data.category,
  ispromo: entry.data.ispromo,
});

let pagetitle = Astro.url.pathname.split("/")[2];
---

<PaketIndexLayout>
  {
    internasional.length === 0 ? (
      <div class="col-span-4">
        <p class="text-center">Tidak tersedia paket {pagetitle}</p>
      </div>
    ) : (
      internasional
        .sort((a, b) => a.data.title.localeCompare(b.data.title))
        .map((entry) => <Card2 {...cardData(entry)} />)
    )
  }
</PaketIndexLayout>
