---
import Card2 from "@components/Card2.astro";
import PaketIndexLayout from "@layouts/PaketIndexLayout.astro";
import { getCollection } from "astro:content";

const paketData = await getCollection("paket");

const cardData = (entry: any) => ({
  image: entry.data.images[0].url,
  title: entry.data.title,
  slug: entry.id,
  jenistrip: entry.data.jenistrip,
  durasi: entry.data.itineraries.length,
  price: entry.data.price[0],
  category: entry.data.category,
  ispromo: entry.data.ispromo,
});
---

<PaketIndexLayout>
  {
    paketData.length === 0 ? (
      <div class="col-span-4">
        <p class="text-center">Tidak tersedia paket wisata</p>
      </div>
    ) : (
      paketData
        .sort((a, b) => a.data.title.localeCompare(b.data.title))
        .map((entry) => <Card2 {...cardData(entry)} />)
    )
  }
</PaketIndexLayout>
