---
import { IconClock4, IconPeople, IconPerson } from "./Icons";
---

<>
  <div class="bg-white shadow-md overflow-hidden">
    <div class="relative overflow-hidden aspect-[4/3]">
      <a href="/paket/paket-1">
        <img
          src="/images/hero-3.jpg"
          alt=""
          class="object-cover object-center hover:scale-105 transition-all duration-300 h-full w-full"
          loading="lazy"
        />
      </a>
      <div class="absolute bottom-0 left-4">
        <span class="bg-teal-800 text-white px-3 py-1 rounded-sm font-semibold">
          Rp. 1.150.000
        </span>
      </div>
    </div>

    <div class="py-2 px-2">
      <h3 class="text-xl font-bold mb-3">Paket 1</h3>

      <div class="flex items-center justify-between gap-x-1">
        <div class="flex items-center text-sm text-slate-700 font-medium gap-1">
          <span class="flex items-center bg-gray-200 rounded-full px-2 py-1">
            <span>
              <IconPerson />
            </span>
            Private
          </span>
          <div class="flex items-center bg-gray-200 rounded-full px-2 py-1">
            <IconClock4 />
            <span class="text-sm">1 Day </span>
          </div>
        </div>

        <a
          href="/paket/paket-1"
          class="flex bg-deep-blue text-white hover:bg-blue-900 hover:scale-105 hover:transition-all hover:duration-300 px-3 py-1 rounded-lg items-center text-sm font-medium"
        >
          Details
        </a>
      </div>
    </div>
  </div>
</>
