---
import { IconChat } from "@components/Icons";
---

<div class="fixed bottom-6 right-4 sm:right-6 z-50">
  <a
    href="https://wa.me/6281384913190/?text=Hi%20Ceria%20Hari%20Kita!%20Saya%20ingin%20konsultasi%20tentang"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center justify-center hover:gap-x-2 bg-green-500 hover:bg-green-600 text-white p-3 hover:px-4 rounded-full shadow-lg transition-all duration-300 group overflow-hidden w-12 h-12 sm:w-16 sm:h-16 hover:w-auto"
  >
    <span class="z-auto">
      <IconChat className="w-6 h-6 sm:w-8 sm:h-8" />
    </span>
    <span
      class="font-medium whitespace-nowrap max-w-0 group-hover:max-w-xs transition-all duration-300 overflow-hidden z-40"
    >
      Konsultasi Gratis
    </span>
  </a>
</div>
